.header-content {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.title-header {
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
}

.texte-header {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
