@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: #e5e5e5;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  min-height: 1024px;
  background-color: white;
  align-items: flex-start;
}
